/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */
h1 {
    text-align: center;
    margin: 0;
    padding: 1rem;
    background-color: #06074d;
    color: white;
  }

table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  /* Styles for the pagination */
  .pagination {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  span {
    margin: 0 10px;
  }
  